header{
    background-color: darkblue;
    color:white;
}

.menu-div{
    background-color: #004485;
}

footer{
    background-color: darkblue;
    color:white;
}

.slider-row{}

.teams-row, .potw-row, .upcoming-events-row, .gallery-row, .newsletter-row, .social-media-row
{
    padding-top: 2em;
}

.teams-row .col-4, .teams-row .col-sm-4, .teams-row .col-md-3, .teams-row .col-lg-3{
    padding-left: 0;
    padding-right: 0;
}

.potw-row .col-6, .potw-row .col-12{
    padding-left: 0;
    padding-right: 0;
}

.potw-row .container-fluid{
    padding-left: 0;
}

.card-horizontal {
    display: flex;
    flex: 1 1 auto;
}

form .col-4, form .col-8{
    padding-left: 0;
    padding-right: 0;
}

.form-check label{
    width: 200px;
}


/*.social-media-row .col-12{*/
/*    margin-bottom: 2em;*/
/*}*/

